# requirements.txt

# Keep this for compatibility with PyTorch and most scientific packages
numpy==1.26.4


# The rest of your packages:
Flask>=2.0
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118
numba>=0.55
Pillow

--extra-index-url https://download.pytorch.org/whl/cu118
